*{
    margin: 0;
    padding: 0;
}

h1{
text-align: center;
    font-size:  80px;
    margin:10px 20px 10px 10px;
    background-color: #2196F3;
    color: aliceblue;
}

.grid-container {
    
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 300px 200px;
    background-color: #2196F3;
    padding: 40px;
}

.grid-item {
      
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
}


.text-html{
    background: linear-gradient(90deg, rgb(130, 125, 233) 0%, rgb(154, 195, 241) 35%, rgb(129, 241, 180) 100%);
    padding: 10px 10px 30px 30px;
    margin-top: 15px;
}

.text-js{
    background: linear-gradient(90deg, rgb(214, 231, 186) 0%, rgb(154, 154, 241) 35%, rgb(169, 245, 119) 100%);
    padding: 10px 10px 30px 30px;
    margin-top: 15px;
}

.text-react{
    background: linear-gradient(90deg, rgb(178, 174, 248) 0%, rgb(154, 154, 241) 35%, rgb(112, 214, 235) 100%);
    padding: 10px 20px 30px 50px;

}

.text-boot{
    background: linear-gradient(90deg, rgb(125, 193, 233) 0%, rgb(175, 175, 238) 35%, rgba(0,212,255,1) 100%);
    padding: 10px 10px 30px 30px;
    margin-top: 15px;
   
}

p{
    margin-top: 22px;
    font-size: 15px;
    text-align: left;
    
}